@tailwind base;
@tailwind components;
@tailwind utilities;

[data-aos-out="fade-up"] {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.toast-exit-active {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
  transition: opacity 0.3s, transform 0.3s;
}

/* Adicione no seu CSS global (ex: styles/globals.css) ou componente com <style jsx global> */

.cifra {
  white-space: pre-wrap;
  /* font-family: monospace; */
  /* font-weight: 100; */
  line-height: 1.6;
}

/* Container das linhas */
.cifra p {
  margin-bottom: 1rem;
  position: relative;
  flex-wrap: wrap; /* permite quebrar certinho no mobile */
  color: black;
}

/* Para cada acorde entre colchetes */
.cifra span.chord {
  display: inline-block;
  position: relative;
  text-align: center;
  font-weight: bold;
  color: #da681d;
  font-size: 0.85rem;
  user-select: none;
}

/* Push acordes para cima da palavra */
.cifra span.chord::after {
  content: attr(data-chord);
  position: absolute;
  top: -2.25rem;
  left: 0;
  right: 0;
  white-space: nowrap;
  pointer-events: none;
}

/* Espaço entre palavras para o acorde não sobrepor */
.cifra span.word {
  padding-top: 0.25rem;
  display: inline-block;
  position: relative;
  font-size: 0.95rem;
  color: #000000;
}

.cifra p.obs{
  padding-top: 0.25rem;
  display: inline-block;
  position: relative;
  font-size: 0.95rem;
  color: #f34242;
}